*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: gre;
}

body{
    background-color: black;
    color: orange;
    font-family: Arial, Helvetica, sans-serif,"Times New Roman";
}

.titulo{
    font-variant: small-caps;
    font-size: medium;
    font-weight: bolder;
    border: solid 2px white;
    border-radius: 43px;
    width: 200px;
    height: 80px;
    text-align:center;
}
#contenedor{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 400px;


    
}

 @media(min-width:100px){
#contenedor{
   flex-wrap: nowrap;
 
}
}
@media(max-width:500px){
    #contenedor{
        flex-wrap: wrap;
        row-gap: 13px;
        column-gap: 13px;

      
    }
} 
#contenedor div{
   width:150px;
   height:100px;
   text-align: center;
  font-size:90%;
  cursor: pointer;
  flex-wrap: wrap;
  text-transform:uppercase;
  padding: 18px;
 
}
a{
     text-decoration: none;
     
}

.ConomientoGeneralCategoria a:visited{
    color: blueviolet;
}
.musicaCategoria a:visited{
    color: blueviolet;
}
.videoJuegoCategoria a:visited{
    color: blueviolet;
}
.DeporteCategoria a:visited{
    color: blueviolet;
}
.DeporteCategoria a:visited{
    color: blueviolet;
}
.CineCategoria:visited{
    color: blueviolet;
}

.ConomientoGeneralCategoria a:link{
    color:orange;
}
.musicaCategoria a:link{
    color:orange;
}
.videoJuegoCategoria a:link{
    color:orange;
}
.DeporteCategoria a:link{
    color:orange;
}
.DeporteCategoria a:link{
    color:orange;
}
.CineCategoria:link{
    color:orange;
}




.SeleccionDeCategoria{
    border: solid 5px rgb(246, 244, 252);
    align-self:flex-end;
    border-radius: 20px;

}
.ConomientoGeneralCategoria{
    border-radius: 100%;
    border: solid 5px rgb(18, 155, 235);
    align-self:center;
}
.musicaCategoria{
    border-radius: 100%;
    border: solid 5px rgb(214, 70, 13);
    align-self:flex-end;  
}
.videoJuegoCategoria{
    border-radius: 100%;
    border: solid 5px rgb(248, 75, 182);
    align-self:center;  
}
.ArteCategoria{
    border-radius: 100%;
    border: solid 5px yellow;
}
.DeporteCategoria{
    border-radius: 100%;
    border: solid 5px rgb(168, 6, 243);
    align-self: flex-end;
}
.CineCategoria{
    border-radius: 100%;
    border: solid 5px rgb(238, 0, 0);
}

#contenedor div:hover{
    background-color: beige;
   background-color: rgba(rgb(235, 213, 213), rgb(126, 185, 126), rgb(32, 32, 121), 0.5);
}

.star{
background-color: rgb(43, 219, 43);
color: black;
transform:skew(7deg);
}
.EligirLaCategoria{
   position: relative; 
    z-index: 1;
    width: 200px;
    height: 300px;
}
.EligeContenedor{
    position: absolute;
    z-index: 2;
    border: solid 2px white;
    border-radius: 23px;
    background-color: paleturquoise;
    width: 50%;
    height: 300px;
   left:85px;
    

}

.input{
    border-radius: 5px;
    padding:12px;
    width:100%;

}
.header{
width: 100%;
height: 30px;
padding: 12px;
text-align: center;
font-size: large;
font-weight: 800px;

}
.select{
    display: none;
}
.footerPoper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-end;
    border: solid 1px red;
}
button{
    background-color: aquamarine;
    border-radius: 10px;
    width: 50%;
    height: 50%;margin: 12px;
    padding: 23px;
}

button:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: azure;
    border: 1px solid rgb(218, 12, 12);
    
    
}
